@import "block_button";


// Gutenberg color options
// -- see editor-color-palette in functions.php
$colors: (
	'blue':		#97D2D7,
	'green':	#128B37,
	'yellow':	#F6F936,
	'orange':	#F4933D,
	'red':		#FD3533,
	'maroon':	#CA2E36,
	'pink':		#F28EAD,
	'black':	#000,
	'grey':		#F8F8F8,
	'white':	#FFF
);

@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}
}

// Gutenberg wide layouts

.entry-content > * {
	@include media-breakpoint-up(sm) {
		@include make-col(10);
		@include make-col-offset(1);
	}
	&.alignwide, .alignwide {
		@include media-breakpoint-up(sm) {
			@include make-col(12);
			@include make-col-offset(0);
		}
	}
	&.alignfull {
		margin: 0 calc(50% - 50vw);
		max-width: 100vw;
		width: 100vw;
		& > .wp-block-group__inner-container {
			@extend .container;
			& > * {
				@include media-breakpoint-up(sm) {
					@include make-col(10);
					@include make-col-offset(1);
				}
			}
			&.alignwide, .alignwide {
				@include media-breakpoint-up(sm) {
					@include make-col(12);
					@include make-col-offset(0);
				}
			}
		}
	}
	&.wp-block-group {
		padding-top: $spacer*2;
		padding-bottom: $spacer*2;
		@include media-breakpoint-up(sm) {
			padding-top: $spacer*5;
			padding-bottom: $spacer*5;
		}
		& *:first-child {
			margin-top: 0;
		}
		& *:last-child {
			margin-bottom: 0;
		}
	}

}