
// Reset ineffective gutenburg column break
@media (max-width: 781px) and (min-width: 600px) {
    .wp-block-column {
        flex-basis: 0 !important;
        flex-grow: 1;
        .wp-block-column:not(:first-child) {
            margin-left: 32px;
        }
    }
}